.card{



    .card-img{
        // max-height: 500px;
    }

    .story-abstract {
        line-height: 1.3rem;
    }

    .updated-text{
        // padding-bottom: 10px;
        position: absolute;
        bottom: 10px;
        left: 20px;
    }
}