.card{

    box-shadow: 0 4px 8px 0 $color-main-soft, 0 6px 20px 0 $color-main-soft2;
    background-color: $color-main-soft;
    &:hover{
        cursor: pointer;
        transform: scale(1.03);
    }


    .card-img{
       
    }

    .story-abstract {
        line-height: 1.3rem;
    }

    .updated-text{
        // padding-bottom: 10px;
        position: absolute;
        bottom: 10px;
        left: 20px;
    }
}