

.header{
   background-color: $color-main;

  .logo{
      cursor: pointer;
    .ma{
        @extend %logoStyle;
        color: $color-secondary;
        font-size: 15px
     }
 
     .manews{
       @extend %logoStyle ; 
       color: white;
       font-size: 24px;
     }
  }

    .header-nav{
        flex-direction: row;

        .link{ // both top links
            font-weight: bold;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .menu-link{
            display: none;
        }
        
      
        a{
            text-decoration: none;
            color: white;
            &:active{
                color: $color-secondary;
            }
        }
        .active{
            color: $color-secondary;
        }
    }

    .header-links{
        // transition: all 0.50s linear ;
        position: absolute;
        top: 55px;
        z-index: 2;
        
        background-color: $color-main ;
        background: linear-gradient( $color-header-links  ,$color-header-links-2 95%),
                    linear-gradient(  $color-header-links-2 ,  $color-header-links) ;

        .header-links-expand{
            // transition: all 2s linear ;
            ul {
                margin-top: 20px;
                list-style: none;
                text-align: center;
                li{
                    padding: 10px 40px 10px 40px;
                    a {
                        padding: 0px 30px;

                        color: white;
                        font-size: 20px;
                        text-decoration: none;
                        &:hover {
                            color: aqua;
                        }
                    }
                    &:hover {
                        transform:  scale(1.6);
                        padding: 10px 40px 10px 40px;

                    }
                }
            }

           

        }

            
    }
}