.developing-news-container{
   
   
    .developing-news{

        .card-img{
            
        }
    
        
        
    
    }
    
    .credit-row{
    
        margin-top: 30px ;
    


        .credit-col{
            padding-top: 30px;
            padding-bottom: 30px;
    
            h3{
                font-size: 40px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: bold;
                margin-bottom: 15px;
            }
            .logo{
                cursor: pointer;
              .ma{
                  @extend %logoStyle;
                  color: $color-secondary;
                  font-size: 15px
               }
           
               .manews{
                 @extend %logoStyle ; 
                 color: white;
                 font-size: 24px;
               }
            }
                
    
        }
    }
}