

$color-main: #580101 ;
$color-main-soft:#d8c5c36c;
$color-main-soft2:#58010167;
$color-secondary:#00e7e7;   
$color-secondary-soft:#1a707075;

$color-header-links: #58010181 ;
$color-header-links-2:#0e7e7e79;   




%logoStyle{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif
}


@import './components/container/header.scss';
@import './components/functional/newsCardBig.scss'; 
@import './components/container/search.scss';
@import './developingNews.scss';